$theme-color: #259609;

.cart {
  height: 405px;
  border-radius: 2px;
  cursor: pointer;
  flex-basis: 25%;
}

.cart__title-holder {
  display: flex;
  justify-content: space-between;

  img {
    height: 30px;
    width: 30px;
    margin-left: 23px;
  }
}

.cart__duration {
  margin-bottom: 20px;
}

.cart__dates {
  margin-bottom: 30px;
}

.dates-info {
  font-family: Helvetica;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}

.cart_clicked {
  background-color: #259609;
  color: #FFFFFF;
  padding: 30px;
  box-shadow: 0px 22px 37px 0px rgba(0, 0, 0, 0.2);
}

.cart_clicked h3 {
  font-family: Helvetica;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  font-style: bold;
  margin-bottom: 20px;
}

.cart_clicked h1 {
  font-family: Helvetica;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 10px;
}

.cart_clicked button {
  height: 44px;
  width: 222px;
  border-radius: 3px;
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.25);
}

@media screen and (max-device-width: 375px) {
  .cart_clicked {
    display: none;
  }
}